In [1]:
import numpy as np
import pandas as pd
from pandas import DataFrame,Series

In [6]:
from io import StringIO

In [7]:
data = """\
Sample Animal Intelligent
1 Dog Smart
2 Dog Smart
3 Cat Dumb
4 Cat Dumb
5 Dog Dumb
6 Cat Smart"""

In [8]:
dframe = pd.read_table(StringIO(data), sep = '\s+')

In [9]:
dframe

   Sample Animal Intelligent
0       1    Dog       Smart
1       2    Dog       Smart
2       3    Cat        Dumb
3       4    Cat        Dumb
4       5    Dog        Dumb
5       6    Cat       Smart

In [10]:
# frequency/pivot table
# separate by animal type and count their intelligent type 
# if we look at cat, it has 2 dumb and 1 smart
#  also if look at total dumb animal we have 3
pd.crosstab(dframe.Animal, dframe.Intelligent, margins = True)

Intelligent  Dumb  Smart  All
Animal
Cat             2      1    3
Dog             1      2    3
All             3      3    6