In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [3]:
# Series is like an array in numpy but has index/label for each of its value
obj = Series([3,6,9,12])

obj

0     3
1     6
2     9
3    12
dtype: int64

In [4]:
obj.values

array([ 3,  6,  9, 12], dtype=int64)

In [5]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [6]:
# index labeling
ww2_cas = Series([8700000,4300000,2100000,400000],index=['USSR','Germany','China','Japan'])

ww2_cas

USSR       8700000
Germany    4300000
China      2100000
Japan       400000
dtype: int64

In [7]:
ww2_cas['Japan']

400000

In [8]:
# check which country > 40000000
ww2_cas[ww2_cas > 4000000]

USSR       8700000
Germany    4300000
dtype: int64

In [9]:
# check if an index is in Series
'USSR' in ww2_cas

True

In [10]:
# converting a Series into dictionary
ww2_dict = ww2_cas.to_dict()
ww2_dict

{'USSR': 8700000, 'Germany': 4300000, 'China': 2100000, 'Japan': 400000}

In [11]:
# converting dictionary into Series
ww2_series = Series(ww2_dict)
ww2_series

USSR       8700000
Germany    4300000
China      2100000
Japan       400000
dtype: int64

In [12]:
countries = ['China','Germany','Japan','USA','USSR']

In [13]:
# since USA was not in the original dictionary, pandas gives it a null value
obj2 = Series(ww2_dict,index=countries)
obj2

China      2100000.0
Germany    4300000.0
Japan       400000.0
USA              NaN
USSR       8700000.0
dtype: float64

In [14]:
# check for null indexes
pd.isnull(obj2)

China      False
Germany    False
Japan      False
USA         True
USSR       False
dtype: bool

In [15]:
# check for not null indexes
pd.notnull(obj2)

China       True
Germany     True
Japan       True
USA        False
USSR        True
dtype: bool

In [16]:
# add Series to Series/object to object, values are added up by indexes
ww2_series + obj2

China       4200000.0
Germany     8600000.0
Japan        800000.0
USA               NaN
USSR       17400000.0
dtype: float64

In [17]:
# giving a Seies/object a name
obj2.name = 'World War 2 Casualties'
obj2

China      2100000.0
Germany    4300000.0
Japan       400000.0
USA              NaN
USSR       8700000.0
Name: World War 2 Casualties, dtype: float64

In [18]:
# labeling name for the index
# this is kinda like a spreadsheet, for column header/name
obj2.index.name = 'contries'
obj2

contries
China      2100000.0
Germany    4300000.0
Japan       400000.0
USA              NaN
USSR       8700000.0
Name: World War 2 Casualties, dtype: float64