In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

from numpy.random import randn

In [2]:
# pandas built in function to dealt with list and sub list , 2 lists of 1 and sublist of 2, index label of a-c
ser = Series(randn(6), index=[[1,1,1,2,2,2],['A','B','C','A','B','C']])
ser

1  A   -0.232686
   B    0.158529
   C    1.206198
2  A    0.896178
   B    0.197765
   C    0.429153
dtype: float64

In [4]:
# checking ser levels and their label
ser.index

MultiIndex([(1, 'A'),
            (1, 'B'),
            (1, 'C'),
            (2, 'A'),
            (2, 'B'),
            (2, 'C')],
           )

In [6]:
# grabbing a list of lvl 1
ser[1]

A   -0.232686
B    0.158529
C    1.206198
dtype: float64

In [7]:
#  level 2
ser[2]

A    0.896178
B    0.197765
C    0.429153
dtype: float64

In [9]:
# grabbing all rows that has index of A
ser[:,'A']

1   -0.232686
2    0.896178
dtype: float64

In [12]:
# creating a data frame from a series with multi levels
dframe = ser.unstack()
dframe

          A         B         C
1 -0.232686  0.158529  1.206198
2  0.896178  0.197765  0.429153

In [14]:
# same as above but with dataframe
dframe2 = DataFrame(np.arange(16).reshape(4,4), index=[['a','a','b','b'],[1,2,1,2]], columns=[['NY','NY','LA','SF'],['cold','hot','hot','cold']])
dframe2

      NY      LA   SF
    cold hot hot cold
a 1    0   1   2    3
  2    4   5   6    7
b 1    8   9  10   11
  2   12  13  14   15

In [17]:
# naming index levels
dframe2.index.names=['Index_1','Index_2']
dframe2

                  NY      LA   SF
                cold hot hot cold
Index_1 Index_2
a       1          0   1   2    3
        2          4   5   6    7
b       1          8   9  10   11
        2         12  13  14   15

In [21]:
# naming columns
dframe2.columns.names=['City','Temp']
dframe2

City              NY      LA   SF
Temp            cold hot hot cold
Index_1 Index_2
a       1          0   1   2    3
        2          4   5   6    7
b       1          8   9  10   11
        2         12  13  14   15

In [22]:
# changing level  orders, need to specify the axis, in this case 1 for columns
dframe2.swaplevel('City','Temp', axis=1)

Temp            cold hot     cold
City              NY  NY  LA   SF
Index_1 Index_2
a       1          0   1   2    3
        2          4   5   6    7
b       1          8   9  10   11
        2         12  13  14   15

In [26]:
# sorting levels
dframe2.sort_values(by=['Index_2'])

City              NY      LA   SF
Temp            cold hot hot cold
Index_1 Index_2
a       1          0   1   2    3
b       1          8   9  10   11
a       2          4   5   6    7
b       2         12  13  14   15

In [27]:
# perform operation an a level
dframe2.sum(level='Temp', axis = 1)

Temp             cold  hot
Index_1 Index_2
a       1           3    3
        2          11   11
b       1          19   19
        2          27   27