In [2]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

from numpy.random import randn

In [2]:
ser1 = Series([1,2,3,4], index = ['A','B','C','D'])
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [3]:
# reindexing the series above, new index will have null value if not assign
ser2 = ser1.reindex(['A','B','C','D','E','F'])
ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [4]:
# filling in values for new indexes
ser2.reindex(['A','B','C','D','E','F','G'], fill_value=0)

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
G    0.0
dtype: float64

In [5]:
ser3 = Series(['Mexico','USA','Canada'],index=[0,5,10])
ser3

0     Mexico
5        USA
10    Canada
dtype: object

In [6]:
# reindexing 0-14
ranger = list(range(15))
ranger

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [9]:
# forward fill the next 4 indexes with previous value
ranger
ser4 = ser3.reindex(ranger,method='ffill')
ser4

0     Mexico
1     Mexico
2     Mexico
3     Mexico
4     Mexico
5        USA
6        USA
7        USA
8        USA
9        USA
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [3]:
# creating a data frame, not adding C index on purpose
dframe = DataFrame(randn(25).reshape(5,5),index=['A','B','D','E','F'], columns=['col1','col2','col3','col4','col5'])
dframe

       col1      col2      col3      col4      col5
A -0.848435  0.098279 -1.612738 -0.139625  1.128534
B  1.260141 -1.170567  0.734517  0.727376  1.110049
D  1.598449 -0.595435  0.386497  0.004515 -0.725408
E -0.187610 -0.480998  0.032021  0.344191  0.009113
F -2.473886  0.493926 -0.476400 -0.143545  1.636465

In [4]:
# reindexing the data frame with new row
dframe2 = dframe.reindex(['A','B','D','C','E','F'])
dframe2

       col1      col2      col3      col4      col5
A -0.848435  0.098279 -1.612738 -0.139625  1.128534
B  1.260141 -1.170567  0.734517  0.727376  1.110049
D  1.598449 -0.595435  0.386497  0.004515 -0.725408
C       NaN       NaN       NaN       NaN       NaN
E -0.187610 -0.480998  0.032021  0.344191  0.009113
F -2.473886  0.493926 -0.476400 -0.143545  1.636465

In [6]:
# adding new a column
new_columns = ['col1','col2','col3','col4','col5', 'col6']
dframe2.reindex(columns=new_columns)

       col1      col2      col3      col4      col5  col6
A -0.848435  0.098279 -1.612738 -0.139625  1.128534   NaN
B  1.260141 -1.170567  0.734517  0.727376  1.110049   NaN
D  1.598449 -0.595435  0.386497  0.004515 -0.725408   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
E -0.187610 -0.480998  0.032021  0.344191  0.009113   NaN
F -2.473886  0.493926 -0.476400 -0.143545  1.636465   NaN

In [27]:
# adding new columns and rows
dframe.reindex(index=['A','B','C','D','E','F'], columns = new_columns)

       col1      col2      col3      col4      col5  col6
A -0.848435  0.098279 -1.612738 -0.139625  1.128534   NaN
B  1.260141 -1.170567  0.734517  0.727376  1.110049   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D  1.598449 -0.595435  0.386497  0.004515 -0.725408   NaN
E -0.187610 -0.480998  0.032021  0.344191  0.009113   NaN
F -2.473886  0.493926 -0.476400 -0.143545  1.636465   NaN