In [1]:
import webbrowser as wb
wb.open('https://www.w3resource.com/python-exercises/pandas/index.php#google_vignette')

True

In [2]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [17]:
# 1. Write a Pandas program to create and display a one-dimensional array-like object containing an array of data using Pandas module
ser1 = Series(np.arange(9))
ser1

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
dtype: int32

In [15]:
# 2. Write a Pandas program to convert a Panda module Series to Python list and it's type
list1 = ser1.tolist()
list1

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [27]:
# 3. Write a Pandas program to add, subtract, multiple and divide two Pandas Series. Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 9]
ser2 = Series([2, 4, 6, 8, 10])
ser3 = Series([1, 3, 5, 7, 9])
# ser2.add(ser3,fill_value=0) #done
# ser2.sub(ser3,fill_value=0) #done
# ser2.mul(ser3, fill_value=0) #done
ser2.div(ser3)

0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

In [32]:
# 4. Write a Pandas program to compare(==,<,> operations) the elements of the two Pandas Series. Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 10]
ser4 = Series([2, 4, 6, 8, 10])
ser5 = Series([1, 3, 5, 7, 10])

# ==
ser4.equals(ser5)

# <
ser4.lt(ser5)

# >
ser4.gt(ser5)

0     True
1     True
2     True
3     True
4    False
dtype: bool

In [34]:
# 5. Write a Pandas program to convert a dictionary to a Pandas series. Original dictionary:{'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
sample_dict = {'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}

Series(sample_dict)

a    100
b    200
c    300
d    400
e    800
dtype: int64

In [39]:
# 6. Write a Pandas program to convert a NumPy array to a Pandas series. [10 20 30 40 50]
arr1 = np.array([10,20,30,40,50])
ser6 = Series(arr1)
ser6

0    10
1    20
2    30
3    40
4    50
dtype: int32

In [46]:
# 7. Write a Pandas program to change the data type of given a column or a Series. 
'''
Original Data Series:
0 100
1 200
2 python
3 300.12
4 400
dtype: object
Change the said data type to numeric:
0 100.00
1 200.00
2 NaN
3 300.12
4 400.00
dtype: float64
'''
ser7 = Series([100,200,'python',300.12,400])
ser8 = pd.to_numeric(ser7,errors='coerce')
ser8

0    100.00
1    200.00
2       NaN
3    300.12
4    400.00
dtype: float64

In [59]:
# 8. Write a Pandas program to convert the first column of a DataFrame as a Series
'''Original DataFrame
col1 col2 col3
0 1 4 7
1 2 5 5
2 3 6 8
3 4 9 12
4 7 5 1
5 11 0 11
1st column as a Series:
0 1
1 2
2 3
3 4
4 7
5 11
Name: col1, dtype: int64
<class 'pandas.core.series.Series'>
'''
# going rouge here, not gonna give exactly the same values
dframe1 = DataFrame(np.arange(10).reshape(5,2), columns=['col1','col2'])
ser9 = Series(dframe1['col1'])
# or 
dframe1.iloc[:,0]

# either method will work

0    0
1    2
2    4
3    6
4    8
Name: col1, dtype: int32

In [70]:
'''
9. Write a Pandas program to convert a given Series to an array.
Sample Output:
Original Data Series:
0 100
1 200
2 python
3 300.12
4 400
dtype: object
Series to an array
['100' '200' 'python' '300.12' '400']
'''
ser10 = Series([100,200,'python',300.12,400])
arr3 = np.array(ser10.values.tolist())
arr3

array(['100', '200', 'python', '300.12', '400'], dtype='<U32')

In [10]:
'''
10. Write a Pandas program to convert Series of lists to one Series
Sample Output:
Original Series of list
0 [Red, Green, White]
1 [Red, Black]
2 [Yellow]
dtype: object
One Series
0 Red
1 Green
2 White
3 Red
4 Black
5 Yellow
dtype: object
'''
ser11 = Series([['Red', 'Green', 'White'],['Red', 'Black'],['Yellow']])
ser11
ser11 = ser11.apply(Series).stack().reset_index(drop=True) # not entirely sure how this would work
ser11

0       Red
1     Green
2     White
3       Red
4     Black
5    Yellow
dtype: object

In [7]:
'''
11. Write a Pandas program to sort a given Series
Sample Output:
Original Data Series: 0 100
1 200
2 python
3 300.12
4 400
dtype: object

0 100
1 200
3 300.12
4 400
2 python
dtype: object
'''

ser12 = Series([100,200,'python',300.12,400]).astype(str)
ser12.sort_values()

0       100
1       200
3    300.12
4       400
2    python
dtype: object