In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

#### using pd utility to create a dummy dataframe to play with

In [20]:
import pandas._testing as tm; tm.N = 3

#Create a unpivoted function
def unpivot(frame):
    N, K = frame.shape
    
    data = {'value' : frame.values.ravel('F'),
            'variable' : np.asarray(frame.columns).repeat(N),
            'date' : np.tile(np.asarray(frame.index), K)}
    
    # Return the DataFrame
    return DataFrame(data, columns=['date', 'variable', 'value'])
 
#Set the DataFrame we'll be using
dframe = unpivot(tm.makeTimeDataFrame())
dframe.head()

        date variable     value
0 2000-01-03        A -0.118059
1 2000-01-04        A  0.516321
2 2000-01-05        A -0.625723
3 2000-01-06        A  0.993462
4 2000-01-07        A  1.326304

In [24]:
# pivot the dframe, decide what we want the rows, columns, values going to be
# for index we use the date column, for columns we use variable column, field value = value column
dframe_piv = dframe.pivot(index='date', columns = 'variable', values= 'value')
dframe_piv.head()

variable           A         B         C         D
date
2000-01-03 -0.118059 -0.218690 -0.229026  0.137304
2000-01-04  0.516321 -0.648042 -0.647887  0.925849
2000-01-05 -0.625723  1.220201  0.273099 -0.102098
2000-01-06  0.993462 -2.067277 -1.323731 -0.655076
2000-01-07  1.326304 -0.471612  0.196536  0.472377

In [23]:
# count number of rows in dframe_piv
index = dframe_piv.index
print(len(index))

30